<!DOCTYPE html>
<html>
  <body>
    <h1>About UBIC</h1>
      <p>
        UBIC is University at Buffalo's student-run investment organization, which manages a real time virtual portfolio.  Members of the club participate in market research and investment selection, and host professional exclusive networking events throughout the year.  UBIC is a virtual hedge fund focused on the equities market. The club is comprised of many student members consisting of fund managers and research analysts.
      </p>
      <p>
        University at Buffalo (UBIC) will provide an environment that will foster interaction among students who are interested and want to participate in managing a real-time investment.  We use an online trading platform through TD Ameritrade called Think or Swim.  The purpose of this organization is to provide networking, learning, and career opportunities to those interesting in an investing portfolio.
      </p>
      <p>
        UBIC is structured as a mock investment organization utilizing various departments necessary to achieve hands on experience to all aspects of investing. These departments include Human Resources, Accounting and Finance.
      </p>
      <p>
        We are looking to gain strong candidates who have the drive to learn and succeed in the investment industry.  To be considered for the club, students will need to submit their resume and go through two rounds of interviews.
      </p>

    <h2>Meeting Dates</h2>
      <p>
        Meetings are mandatory and will be held on Thursdays bi-weekly from 7:00-8:30 PM in Norton 209.
      </p>

    <h2>Mandatory Events</h2>
      <p>
        There will be mandatory events outside of meetings that every member of the club must attend. These events will be posted here when they scheduled.
      </p>
  </body>
</html>