<!DOCTYPE html>
<html>
  <head>
    <title>UBIC Home Page</title>
    <link href="/assets/welcome.css.scss" type="text/css" rel="stylesheet" />
    <meta name="description"
      content="Website for University at Buffalo Investment Club" />
    <meta http-equiv="author"
      content="Ryan Beegel" />
    <meta http-equiv="pragma"
      content="no-cache" />
  </head>
  <body>
    <h1>WALL STREET @ BUFFALO</h1>
      <p>Students within the School of Management are proud to announce the creation of The University at Buffalo Investment Club (UBIC). UBIC is a School of Management organization always looking to recruit individuals to be part of a $30,000,000 student-run virtual hedge fund. Club membership will grant students an opportunity for hands on experience in specific segments of capital markets and be part of a student investment group.  Our aim is to enhance investment knowledge, teach students how to manage a competitive portfolio and will introduce you into the world of equity research, valuation and experience.</p>
 
      <p>Our intention here at the UBIC is to provide students with a strong foundation in the functioning of the capital markets.  We seek to involve students in the research, analysis, and maintenance of a securities portfolio using a hands-on approach that would effectively bridge the gap between classroom concepts and real world situations.</p>

      <h2>University at Buffalo's Student-Run Virtual Hedge Fund</h2>

      <h2>Interested in joining UBIC? <%= link_to "Click Here", join_index_path %></li></h2>
  </body>
</html>
