body {
  background-color: rgb(185,185,185);
  width: 1169px;
  margin: 20px auto 20px auto;
}

h1{
  color: #1E09AB;
  font-family: Impact, Haettenschweiler, fantasy;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 250%;
}

h1.one {
  text-align: center;
  width: 450px;
}

h1.five {
  text-align: center;
}

h2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 17px;
}

h2.one, h2.two {
  text-align: center;
  width: 450px;
}

h2.two {
  font-size: 13px;
}

p {
  font-family: Georgia, Times, serif;
  font-size: 13.5px;
  width: 450px;
}

p.one, p.two {
  text-align: center;
  width: 450px;
}

p.three {
  -moz-box-shadow: 0 0 10px #777777; 
  -webkit-box-shadow: 0 0 10px #777777;
  box-shadow: 0 0 10px #777777;
  position: relative;
}

ul {
  list-style-type: circle;
}

li.one, li.two, li.three, li.four, li.five {
  font-size: 20px;
  display: inline;
  margin: 0px 65px;
}

#navigation {
  width: 1000px;
  padding: 20px;
  margin: -275px auto 400px auto;
  margin-left: 185px;
  text-align: center;
}

table.one {
  border-spacing: 8px 8px;
}

th {
  letter-spacing: 0.1em;
  font-size: 110%;
  border-bottom: 2px solid #111111;
  border-top: 1px solid #999;
  text-align: center;
}

th, td {
  padding: 7px 10px 10px 10px;
  text-align: center;
}

tr.odd {
  background-color: #efefef;
}
tr.even {
  background-color: #C7CAD1;
}
tr:hover {
  background-color: #c3e6e5;
}

input[type="text"], input[type="email"]  {
  font-size: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 3px 15px 3px 15px;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  display: block;
  margin-bottom: 5px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="text"]:hover, input[type="email"]:hover {
  background-color: #ffffff;
  border: 2px solid #b1e1e4;
}

input[value="Submit"] {
  font-size: 120%;
  border-radius: 5px;
  padding: 3px 15px 3px 15px;
  display: block;
  margin-bottom: 5px;
  color: #444444;
  text-shadow: 0px 1px 1px #ffffff;
  border-bottom: 3px solid #b2b2b2;
  background-color: #b9e4e3;
  background: -webkit-gradient(linear, left top, left bottom, from(#beeae9), to(#a8cfce));
  background: -moz-linear-gradient(top, #beeae9, #a8cfce);
  background: -o-linear-gradient(top, #beeae9, #a8cfce);
  background: -ms-linear-gradient(top, #beeae9, #a8cfce);
}

input[value="Submit"]:hover {
  color: #333333;
  border: 1px solid #a4a4a4;
  border-top: 2px solid #b2b2b2;
  background-color: #a0dbc4;
  background: -webkit-gradient(linear, left top, left bottom, from(#a8cfce), to(#beeae9));
  background: -moz-linear-gradient(top, #a8cfce, #beeae9);
  background: -o-linear-gradient(top, #a8cfce, #beeae9);
  background: -ms-linear-gradient(top, #a8cfce, #beeae9);
}

textarea {
  font-size: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 3px 25px 25px 15px;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  display: block;
  margin-bottom: 5px;
}

textarea:focus, textarea:hover {
  background-color: #ffffff;
  border: 2px solid #b1e1e4;
}

fieldset {
  width: 450px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

legend {
  background-color: #efefef;
  border: 1px solid #dcdcdc;
  border-radius: 15px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
}

footer {
  background-color: #6E6E6E;
}

a:link {
  color: #1E09AB;
  text-decoration: none;
}
a:visited {
  color: #1E09AB;
  text-decoration: none;
}
a:hover {
  color: #1E09AB;
  text-decoration: underline;
}
a:active {
  color: #693656;
}