body {
  background-color: rgb(185,185,185);
}

h1{
  color: #1E09AB;
  font-family: Impact, Haettenschweiler, fantasy;
  text-transform: uppercase;
}

h2 {
  font-family: "Comic Sans MS", "Monotype Corsiva", cursive;
  font-weight: normal;
  text-transform: uppercase;
}

p {
  font-family: Georgia, Times, serif;
  font-size: 13.5px;
}

footer {
  background-color: #6E6E6E;
}