<h1>Members</h1>

<h2>OFFICERS</h2>
<table>
  <tr>
    <th>NAME</th>
    <th>POSITION</th>
  </tr>
  <tr>
    <td>Dillon Montag</td>
    <td>President</td>
  </tr>
  <tr>
    <td>Brandon Scalercio</td>
    <td>President</td>
  </tr>
  <tr>
    <td>Joshua Fromm</td>
    <td>President</td>
  </tr>
  <tr>
    <td>Ryan Beegel</td>
    <td>Chief Technology Officer</td>
  </tr>
  <tr>
    <td>Hunter Spector</td>
    <td>Chief Operating Officer</td>
  </tr>
  <tr>
    <td>Eric Shaffer</td>
    <td>Chief Financial Officer</td>
  </tr>
  <tr>
    <td>Phillip Wool</td>
    <td>Faculty Advisor</td>
  </tr>
</table>