<!DOCTYPE html>
<html>
  <body>
    <h1>Members</h1>

    <h2>OFFICERS</h2>
    <table>
      <tr>
        <th>NAME</th>
        <th>POSITION</th>
      </tr>
      <tr>
        <td>Dillon Montag</td>
        <td>President</td>
      </tr>
      <tr>
        <td>Brandon Scalercio</td>
        <td>President</td>
      </tr>
      <tr>
        <td>Joshua Fromm</td>
        <td>President</td>
      </tr>
      <tr>
        <td>Ryan Beegel</td>
        <td>Chief Technology Officer</td>
      </tr>
      <tr>
        <td>Hunter Spector</td>
        <td>Chief Operating Officer</td>
      </tr>
      <tr>
        <td>Eric Shaffer</td>
        <td>Chief Financial Officer</td>
      </tr>
      <tr>
        <td>Phillip Wool</td>
        <td>Faculty Advisor</td>
      </tr>
    </table>

    <p>Official Membership will be granted to members who have completed the membership for one (1) full semester and will allow that member to officially proclaim membership status for resumes, job interviews, etc. Only official IPO members are eligible to be nominated for Executive Board positions, and likewise, only official members may vote during IPO Executive Board Elections. Furthermore, official membership status may be revoked in the event that a member fails to complete the membership requirements for a semester.</p>
  </body>
</html>